---
title: RWD and Performance Workshop
layout: doc
---

<div id="page">
	<header>
		<h1>{{ page.title }}</h1>
		<p class="lead"><a href="https://github.com/m4dz/prwd-workshop/blob/master/README.md">Voir la documentation</a></p>
	</header>

	<table class="table-stripped">
		<caption>Conformité et affichage</caption>
		<thead>
			<tr>
				<th>Maquette</th>
				<th>PageSpeed Score</th>
				<th>Total Request Bytes</th>
				<th>Number Resources</th>
				<th>Number Static Resources</th>
				<th>DOM ReadyStateLoading</th>
				<th>DOM ReadyState Interactive</th>
				<th>WindowOnLoad</th>
				<th>Elapsed Load Time</th>
				<th>Total Resources Time</th>
				<th>Total Resources Size</th>
				<th>Slowest Resource</th>
				<th>Largest Resource</th>
			</tr>
		</thead>
		<tbody>
			{{#each tracks.branches}}
			<tr>
				{{#at .. 'pagespeed' this}}
				<td>
					<a href="{{ results.0.id }}">{{ results.0.title }}</a>
					<small>(<a href="
						{{#is .. 'master'}}https://github.com/m4dz/prwd-workshop/tree/master
						{{else}}{{#is ../.. 'origin'}}https://github.com/m4dz/prwd-workshop/tree/origin
						{{else}}https://github.com/m4dz/prwd-workshop/pull/{{../../..}}
						{{/is}}{{/is}}">view on github</a>)
					</small>
				</td>
				<td {{#lt results.0.score 80}}class="color-red"{{/lt}}>{{ results.0.score }}</td>
				<td>{{ results.0.pageStats.totalRequestBytes }}</td>
				<td>{{ results.0.pageStats.numberResources }}</td>
				<td>{{ results.0.pageStats.numberStaticResources }}</td>
				{{/at}}
				{{#at .. 'loadreport' this}}
				<td>{{ domReadystateLoading }}ms</td>
				<td>{{ domReadystateInteractive }}ms</td>
				<td>{{windowOnload}}ms</td>
				<td>{{elapsedLoadTime}}ms</td>
				<td>{{totalResourcesTime}}ms</td>
				<td>{{totalResourcesSize}}ms</td>
				<td><a href="{{slowestResource}}">view it</a></td>
				<td><a href="{{largestResource}}">view it</a></td>
				{{/at}}
			</tr>
			{{/each}}
		</tbody>
	</table>

	<footer>
		<p class="footnotes"><small>Paris Web 2014 | Ateliers | Performance &amp; Responsive Web Design</small></p>
	</footer>
</div>
